In [109]:
import pandas as pd
import numpy as np

In [48]:
car=pd.read_csv('quikr_car.csv')

In [49]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [50]:
car.shape

(892, 6)

In [51]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

## Quality 

- Year has many non-year values
- Year object to int
- Price has Ask for price 
- Price object to int
- kms_driven has kms with integers
- kms_driven has nan values 
- fuel_type has nan values 
- keep first 3 words of name

# Cleaning

In [52]:
backup =car.copy()

**First make a copy of the dataset**

In [53]:
car=car[car['year'].str.isnumeric()]

In [56]:
car['year']=car['year'].astype(int)

**Convert the string to numeric and convert the object to int**

In [60]:
car=car[car['Price']!="Ask For Price"]

In [61]:
car['Price']=car['Price'].str.replace(',','').astype(int)

C:\Users\Sahil\AppData\Local\Temp\ipykernel_29828\2327187584.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Price']=car['Price'].str.replace(',','').astype(int)

**Remove 'Ask For Price', 'commas' and convert the object to int**

In [63]:
car['kms_driven']

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [64]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

C:\Users\Sahil\AppData\Local\Temp\ipykernel_29828\995198746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [65]:
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890    Petrol
891    Petrol
Name: kms_driven, Length: 819, dtype: object

In [66]:
car= car[car['kms_driven'].str.isnumeric()]

In [68]:
car['kms_driven']=car['kms_driven'].astype(int)

C:\Users\Sahil\AppData\Local\Temp\ipykernel_29828\1713770885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven']=car['kms_driven'].astype(int)

In [69]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

#### * In kms_driven column first I remove the kms
#### * After that I remove the commas
#### * I remove the string as well and I conver the I conver the object to int

In [71]:
car=car[~car['fuel_type'].isna()]

In [72]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

**In the fuel_type column i remove the NAN value**

In [73]:
car['name']

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
6                                   Ford Figo
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [74]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [77]:
car=car.reset_index(drop=True)

**In name column first I did the split then I slice first three words and I did the join**

In [78]:
car.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4               Ford Figo      Ford  2012  175000       41000    Diesel

In [80]:
car.describe().T

,count,mean,std,min,25%,50%,75%,max
year,816.0,2012.444853,4.002992,1995.0,2010.0,2013.0,2015.0,2019.0
Price,816.0,411717.615196,475184.422264,30000.0,175000.0,299999.0,491250.0,8500003.0
kms_driven,816.0,46275.531863,34297.428044,0.0,27000.0,41000.0,56818.5,400000.0

In [81]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [82]:
car.to_csv('Cleaned_car.csv')

# Model

In [83]:
x= car.drop(columns='Price')
y=car['Price']

In [87]:
x

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [88]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int32

In [89]:
from sklearn.model_selection import train_test_split

In [90]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2)

In [96]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [95]:
ohe=OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [100]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                      remainder='passthrough')

In [101]:
lr=LinearRegression()

In [103]:
pipe = make_pipeline(column_trans,lr)

In [104]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [105]:
y_pred=pipe.predict(x_test)

In [106]:
y_pred

array([ 256236.33473802,  443182.51142024,  372184.93823714,
        203225.08181679,   93323.38743448,  575297.35480652,
        219247.7082985 ,  272862.9830219 ,  569617.29753415,
        172319.21724559,  261241.65235396,  247808.44741025,
        315240.13420077,  408753.42983709,  334373.25378406,
         63573.90169422,  658466.38653658,  605089.21935004,
        419287.24821577,  -44486.25544296,  108057.36048089,
         79223.35982206,  425670.80225269,  354212.18041353,
        265522.56115586,  298073.63135542,  442610.42421304,
        235476.99771513,  358089.89729551, 1040595.20975588,
        508565.52347472, 1000123.51693168,  138524.25525336,
        376671.06509244,   48491.35741705,  617299.59026074,
        771310.7942417 ,  122003.62172941, 1545992.12577348,
        294990.07505397,  305385.39400208,  492919.77140151,
        213823.01541702,  414821.59341016,  -60926.22370706,
        233815.81512012,  709420.85221102,  308600.39614055,
        162094.5953479 ,  266161.9214598 ,  362919.74893004,
        486927.0664293 ,   48230.82220206,   73539.54252285,
        277912.31692028,  143132.24265857,  443106.85900994,
        294990.07505397,  595633.36631428,  771310.7942417 ,
        406899.1547121 ,  379640.86512185,  471916.59464934,
         73413.55501949,  406428.85841746,  465325.85426912,
        346813.65230103,  678687.07775471,  273083.60076047,
        567827.00762029,  463084.70307554,  942249.55539515,
        247808.44741025,  206560.07500285,  369558.31902343,
        247808.44741025,  239125.16365056, 1011437.34733668,
        189402.05697032,  423022.27527588, 2104016.99045183,
        296645.60283069,  535628.68976355,  790425.39369944,
        437621.77795437,  302188.00416326,  785563.67356666,
        462131.66024501,  387405.86707927,  172268.80567458,
        656114.17552866,  513861.41274064,  218434.51532855,
        369351.96421336,  153262.98133499,  274402.88904033,
        490119.01659212,  446775.6962548 ,  246361.42648083,
        527179.65479648,  201059.16714052,  504263.33701979,
        347072.09084541,   78656.71586219, 1060760.60139628,
        426137.50410689,  432428.7992846 ,   56132.18540414,
        424913.62359239,  439602.63022801,  345140.17998826,
        365403.14955036,  267981.52583749,  600964.99763364,
       2104016.99045183,  224599.70579179,  443106.85900994,
        290125.88357143,  367960.01935414,  -41731.52095433,
        256239.66286797,  487350.09829257,  406323.46113423,
        279272.49655686,  535038.98992085,  610415.83871876,
        214767.87592208,  607779.12708122,  436376.17686186,
        232113.42651364, 2104016.99045183,  185375.54920141,
        338572.22340982,  729972.96942616,  538708.34032248,
        256316.11824083,  556547.41927744,  337440.80004876,
        156317.01007188,  508490.47838175,  344987.60099623,
        287057.78373734,   79277.17352826,  324151.87706553,
        405677.98997364,  522833.51911383,  384958.97773486,
         27996.84858292,  590435.07184257,  306586.5025144 ,
        551930.38661774,  280448.41658101,  207219.56739801,
        324029.81242892,  360670.2649957 ,  300667.04243537,
        689854.44504109,  393606.50734991,  358076.43607582,
        463416.06917208,  220223.70148121,  250044.27181245,
        369677.82103096])

In [107]:
r2_score(y_test,y_pred)

0.7500928580019326

In [108]:
scores=[]
for i in range(1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [110]:
np.argmax(scores)

433

In [111]:
scores[np.argmax(scores)]

0.8457042416667213

In [112]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8457042416667213

In [113]:
import pickle

In [114]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [115]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))

array([458900.81022717])